
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/dark-theme.css">
</head>
<body>
  <div class="navbar">
    <a href="/index.html">Home</a>
    <a href="/research.html">Research Projects</a>
    <a href="/talks.html">Talks & Lectures</a>
    <a href="/assets/CV.pdf">Download CV</a>
  </div>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
